<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1.python

2.R studio

3.sql

### Some of the commonly used libraries used by Data Scientists include:
1.numpy

2.pandas

3.matplot

### Objectives:
* python

* R language

* sql
### are uesd by dsta science students

### Data Science Tools:
|Tools|
|-----|
|jupyter notebook|
|R studio|
|my sql|

## Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
print(f"{hours} hours and {minutes} minutes")
#his will convert 200 minutes to hours by diving by 60.

3 hours and 20 minutes

## Authourname
venkatesh